* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: hsl(180, 71%, 44%);

  display: flex;
  justify-content: center;
}


nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 3em;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

nav a {
  color: hsl(180, 71%, 44%);
  text-decoration: none;
  padding: 1em;
  border: 1px solid hsl(180, 71%, 24%);
  border-radius: 4px;
}

.app-container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
}
